<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbgz.pancakejob.mapper.AdministratorMapper">

    <resultMap id="BaseResultMap" type="com.jbgz.pancakejob.entity.Administrator">
            <id property="adminId" column="admin_id" jdbcType="INTEGER"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        admin_id,password
    </sql>
</mapper>
