<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbgz.pancakejob.mapper.AppealMapper">

    <resultMap id="BaseResultMap" type="com.jbgz.pancakejob.entity.Appeal">
            <id property="orderId" column="order_id" jdbcType="INTEGER"/>
            <id property="appealType" column="appeal_type" jdbcType="VARCHAR"/>
            <result property="appealContent" column="appeal_content" jdbcType="VARCHAR"/>
            <result property="appealTime" column="appeal_time" jdbcType="TIMESTAMP"/>
            <result property="appealResult" column="appeal_result" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        order_id,appeal_type,appeal_content,
        appeal_time,appeal_result,status
    </sql>
</mapper>
